# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\cc-tasks\secure_erp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
